.cat-card{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#cat-container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

#cat-name {
    margin-top: 20px;
    margin-left: 20px;
}